@use '../media' as *;
@use '../mixins' as *;

.awards {

	padding-block: 60px;
	&__title {
		text-align: center;
		margin-bottom: 85px;

		@include tablet {
			margin-bottom: 40px;
		}
	}

	@include tablet {
		padding-block: 30px;
	}


    background: url('/images/background.webp') center / cover no-repeat;
    &__slide {
    	transition: var(--transition-duration);
        &-wrapper {
			display: flex;
			justify-content: center;
            img {
                border-radius: var(--border-radius);
				width: auto;
				height: 100%;
				box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.25);
            }
        }
    }
}

.awards__slide.splide__slide.is-prev {
    rotate: -8deg;
    scale: 0.9;

}

.awards__slide.splide__slide.is-next {
    rotate: 8deg;
    scale: 0.9;
}
