@use '../mixins';

.burger-button {
	@include mixins.reset-button;
	width: 44px;
	height: 44px;

	padding: 10px 2px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 6px;
	& span {
		display: block;
		width: 100%;
		height: 3px;
		background-color: var(--color-light);
		border-radius: var(--border-radius);
	}
}