@use '../media' as *;
@use '../mixins' as *;

.donate {
	background-color: var(--color-dark);
	padding-block: 100px;

	@include tablet {
		padding-block: unset;
		padding-bottom: 25px;
	}

	&__header {
		margin-bottom: 52px;
		text-align: center;

		@include tablet {
			padding-block: 17px;
			margin-bottom: 29px;
		}
	}

	&__subtitle {
		@include fluid-text(40, 20);
	}

	&__body {
		display: flex;
		column-gap: 120px;
		justify-content: space-between;

		@include tablet {
			flex-direction: column;
			align-items: center;
		}

	}

	&__qr-wrapper {
		min-width: 450px;

		@include tablet {
			min-width: unset;
		}

		@include mobile {
			max-width: 187px;
		}
	}

	&__qr-img {
		border-radius: var(--border-radius-large);
		box-shadow: 6px 4px 9.600000381469727px 0px rgba(0, 0, 0, 0.25);

		@include mobile { 
			border-radius: var(--border-radius)
		}
	}

	&__content {
		max-width: 585px;
		width: 100%;
		&-info {
			@include fluid-text(25, 20); 
			width: 100%;
			margin-bottom: 35px;
		}

		div {
			@include tablet {
				display: none;
			}
		}

		@include tablet {
			display: flex;
			flex-direction: column;
			margin-top: 25px;
		}

		@include mobile {
			align-items: center;
		}
	}

	&__button {
		margin-bottom: 19px;

		@include tablet {
			width: 100%;
		}
	}

	&__button-desc {
		font-size: 15px;
		text-align: center;
		max-width: 470px;

		@include desktop {
			max-width: 400px;
		}

		@include tablet {
			max-width: unset;
		}
		
	}
}