@use '../media' as *;
@use '../mixins' as *;
.founder {
	background: url('images/background.webp') center / cover no-repeat;
	padding-block: 94px;

	@include desktop {
		padding-block: 60px;
	}

	@include tablet {
		background: url('images/misson/background.webp') center / cover no-repeat;
		padding-block: 40px;
	}


	&__header {
		text-align: center;
		@include fluid-text (40,15);
		margin-bottom: 80px;

		@include desktop {
			margin-bottom: 40px;
		}

		@include tablet {
			margin-bottom: 20px;
		}
	}

	&__body {
		display: flex;
		gap: 28px;

		@include mobile {
		 gap: 10px;
		}

		&-content{
			background-color: var(--color-glass);
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			border-radius: var(--border-radius);
			padding: 70px 48px;
			// max-height: 600px;
			max-width: 680px;


			@include desktop {
			padding: 20px 15px;
			max-width: unset;
			order: 2;

			}

			@include mobile {
				display: contents;

				:first-child {
					order: 2;
					margin-bottom: unset;
					// max-width: 160px;
					text-align: justify;
					hyphens: auto;
					-webkit-hyphens: auto;
					word-break: normal;
				}
			}
			
	
		}
		&-photo { 
			grid-column: 2;
			grid-row: 1;
			overflow: hidden;
			width: 100%;
			min-width: 140px;

			@include desktop {
				max-width: 250px;
				order: 1;
			}

			@include mobile {
				max-width: 140px;
			}
			
			& img {
				border-radius: var(--border-radius);
				object-fit: cover;
				width: 100%;
			}
		}
	}


}

.founder__bottom-text {
	margin-top: 10px;
	text-align: justify;
	hyphens: auto;
	-webkit-hyphens: auto;
	word-break: normal;
}