@use '../mixins' as *;
@use '../media' as *;

.policy {
	background-color: var(--color-dark);
	padding-block: 60px;

		@include tablet {
			padding-block: 40px;
		}

		@include mobile {
			padding-block: 20px;
		}

	&__header {
		text-align: center;
		margin-bottom: 70px;

		@include tablet {
			margin-bottom: 40px;
		}

		@include mobile {
			margin-bottom: 20px;
		}

	}

	&__body {
		display: flex;

		@include mobile {
			flex-direction: column;
		}
	}


	&__content {
		width: 100%;
		display: flex;
		column-gap: 30px;
		justify-content: space-between;
		margin-left: 110px;

		@include desktop {
			margin-left: 50px;
		}
		@include tablet {
			margin-left: 20px;
		}
		@include mobile {
			margin-left: unset;
		}


	}

	&__document {
		width: 100%;
		height: 100%;

		img {
			object-fit: cover;
			width: 100%;
		}

		@include mobile {
			padding-inline: 40px;
			order: 1;
		}


		
	}

	&__text-wrapper {
		max-width: 640px;
		text-align: justify;

	}

	&__button-wrapper {
		display: flex;
		flex-direction: column;
		row-gap: 60px;
		justify-content: center;

		@include mobile {
			flex-direction: row;
			justify-content: start;
			order: 2;
			gap: 20px;
			padding: 20px 40px;
			padding-right: 165px;
		}

		@include mobileS {
			padding-right: 130px;
		}

	}


	&__button {
		background-color: transparent;

		@include mobile {

			&--show, &--download {
				position: relative;
				&::after {
					position: absolute;
					top: 50%;
					left: 130%;
					translate: 0 -50%;
					font-size: 30px;
				}
			}

			&--show {
				&::after {
					content: "Открыть";
				}
			}

			&--download {
				margin-left: auto;
				&::after {
					content: "Скачать";
					
				}
			}
		}
	@include mobileS {
		max-width: 30px;
		&::after {
			font-size: 20px;
		}
	}


	}
}