@font-face {
  font-family: 'Galderglynn';
  src: url('/fonts/GalderglynnTitlingRg.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Futura';
  src: url('/fonts/FuturaBkBTRusbyme.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
    font-family: 'Galada';
    src: url('/fonts/Galada-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

