@use 'mixins';
body {
	@include mixins.fluid-text(30, 15);
	font-family: var(--font-family-base);
	font-weight: 400;
	line-height: 1.26;
	color: var(--color-light);
	background-color: var(--color-green);
}

a,
button,
input,
svg * {
	transition-duration: var(--transition-duration);
}

a {
	text-decoration: none;
	color: inherit;
}

h1, h2, h3, h4 {
	font-weight: 700;
	font-family: 'Galderglynn';
	text-transform: uppercase;
}

h1 {
	@include mixins.fluid-text(60, 25)
}

h2 {
	@include mixins.fluid-text(60, 25)
}

h3 {
	@include mixins.fluid-text(30, 20)
}

h4 {
	@include mixins.fluid-text(20, 18)
}
